body { text-align: center; width: 70%; margin: auto;}
h1 { background-color: lightcyan; }
h2 { border: 5px dashed darkcyan; width: fit-content; padding: 10px; margin: auto; background-color: lightcyan;}
